<h1>Please choose your amount</h1>

<div class="btn-group" role="group" aria-label="Basic radio toggle button group">
  <input type="radio" class="btn-check" id="bet_amount_1" name="bet_amount" autocomplete="off" checked>
  <label class="btn-lg btn-outline-primary" for="bet_amount_1">1 $</label>

  <input type="radio" class="btn-check" id="bet_amount_10" name="bet_amount" autocomplete="off">
  <label class="btn-lg btn-outline-primary" for="bet_amount_10">10 $</label>

  <input type="radio" class="btn-check" id="bet_amount_100" name="bet_amount" autocomplete="off">
  <label class="btn-lg btn-outline-primary" for="bet_amount_100">100 $</label>
</div>
</p>
<h1>Please choose your color</h1>

  <div class="btn-group" role="group2" aria-label="Basic radio toggle button group">
    <input type="radio" class="btn-check" id="bet_color_red" name="bet_color" autocomplete="off" checked>
    <label class="btn-lg btn-outline-danger" for="bet_color_red">Red</label>

    <input type="radio" class="btn-check" id="bet_color_black" name="bet_color" autocomplete="off">
    <label class="btn-lg btn-outline-dark" for="bet_color_black">Black</label>
  </div>

</p>
<h2>And good luck!</h2>
<div class="d-grid gap-2">
</p>
  <button class="btn btn-primary btn-lg" type="button">SPIN!</button>
</div>


</p>
