<div style="text-align: center;">
<h1>Payment successful</h1>
<br>
<h2>Thank you for your payment!<br>Your balance will be increased soon</p>
You can <%= link_to 'return to your account.', current_user %>
<br>Or go back to <%= link_to 'main page', root_path%></h2>
<br>
